In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\dell\Desktop\NEC\ShanghaiPM20100101_20151231.csv")
df.head()

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-6.0,59.48,1026.1,1.0,cv,1.0,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,-6.0,59.48,1025.1,1.0,SE,2.0,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,-7.0,59.21,1025.1,0.0,SE,4.0,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,-6.0,63.94,1024.0,0.0,SE,5.0,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,-6.0,63.94,1023.0,0.0,SE,8.0,0.0,0.0

In [3]:
df1=df.drop(columns=['No','year','month','day','hour','season'], axis = 1)
df1.head()

,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,NaN,NaN,NaN,-6.0,59.48,1026.1,1.0,cv,1.0,0.0,0.0
1,NaN,NaN,NaN,-6.0,59.48,1025.1,1.0,SE,2.0,0.0,0.0
2,NaN,NaN,NaN,-7.0,59.21,1025.1,0.0,SE,4.0,0.0,0.0
3,NaN,NaN,NaN,-6.0,63.94,1024.0,0.0,SE,5.0,0.0,0.0
4,NaN,NaN,NaN,-6.0,63.94,1023.0,0.0,SE,8.0,0.0,0.0

In [4]:
df2 = df1.fillna(df1.median())
df2.head()

,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,44.0,41.0,43.0,-6.0,59.48,1026.1,1.0,cv,1.0,0.0,0.0
1,44.0,41.0,43.0,-6.0,59.48,1025.1,1.0,SE,2.0,0.0,0.0
2,44.0,41.0,43.0,-7.0,59.21,1025.1,0.0,SE,4.0,0.0,0.0
3,44.0,41.0,43.0,-6.0,63.94,1024.0,0.0,SE,5.0,0.0,0.0
4,44.0,41.0,43.0,-6.0,63.94,1023.0,0.0,SE,8.0,0.0,0.0

In [5]:
dummies_frame = pd.get_dummies(df2)
df3= df2.reindex(columns = dummies_frame.columns, fill_value=1)
df3.head()

,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_SW,cbwd_cv
0,44.0,41.0,43.0,-6.0,59.48,1026.1,1.0,1.0,0.0,0.0,1,1,1,1,1
1,44.0,41.0,43.0,-6.0,59.48,1025.1,1.0,2.0,0.0,0.0,1,1,1,1,1
2,44.0,41.0,43.0,-7.0,59.21,1025.1,0.0,4.0,0.0,0.0,1,1,1,1,1
3,44.0,41.0,43.0,-6.0,63.94,1024.0,0.0,5.0,0.0,0.0,1,1,1,1,1
4,44.0,41.0,43.0,-6.0,63.94,1023.0,0.0,8.0,0.0,0.0,1,1,1,1,1

In [6]:
df4=df3.dropna().isnull().sum()
df4.head()

PM_Jingan     0
PM_US Post    0
PM_Xuhui      0
DEWP          0
HUMI          0
dtype: int64

In [7]:
df5 = df3.drop(['TEMP'], axis = 1)
df5.head()

,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,Iws,precipitation,Iprec,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_SW,cbwd_cv
0,44.0,41.0,43.0,-6.0,59.48,1026.1,1.0,0.0,0.0,1,1,1,1,1
1,44.0,41.0,43.0,-6.0,59.48,1025.1,2.0,0.0,0.0,1,1,1,1,1
2,44.0,41.0,43.0,-7.0,59.21,1025.1,4.0,0.0,0.0,1,1,1,1,1
3,44.0,41.0,43.0,-6.0,63.94,1024.0,5.0,0.0,0.0,1,1,1,1,1
4,44.0,41.0,43.0,-6.0,63.94,1023.0,8.0,0.0,0.0,1,1,1,1,1

In [8]:
df6= df3.select_dtypes(include = [np.number])
df7=df5.select_dtypes(include=[np.number])

In [9]:
x= np.array(df5.loc[:,:])
y = np.array(df3.loc[:,['TEMP']])
x.shape
y.shape

(52584, 1)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.25,random_state = 7)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(39438, 14) (39438, 1)
(13146, 14) (13146, 1)

# Bagging Decision Tree

In [13]:
from sklearn import model_selection
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier()
model.fit(X_train, Y_train.reshape(39438,))

BaggingClassifier(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [14]:
pred = model.predict(X_test)

In [15]:
score =  model.score(X_test,Y_test)
print(score)

0.9901110603986003

# Random Forest Classification

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.3,random_state=7)
X_train.shape, X_test.shape

((36808, 14), (15776, 14))

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [20]:
model1 = RandomForestClassifier()
model1.fit(X_train , Y_train.reshape(36808,))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [21]:
pred = model1.predict(X_test)

In [22]:
score = model1.score(X_test,Y_test)
score

0.7547540567951319

# Gradient Boosting Classification

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.3,random_state=7)
X_train.shape, X_test.shape

((36808, 14), (15776, 14))

In [24]:
from sklearn.ensemble import GradientBoostingClassifier
model2 = GradientBoostingClassifier(n_estimators=100)

In [35]:
model2 = GradientBoostingClassifier()
model2.fit(X_train , Y_train.reshape(36808,))

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [36]:
pred = model2.predict(X_test)

In [37]:
score = model2.score(X_test,Y_test)
score

0.9865618661257607

# Voting Classifier

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score

In [39]:
estimators = []
model= LogisticRegression()
estimators.append(('logisic',model))
model1= DecisionTreeClassifier()
estimators.append(('DecisionTreeClassifier',model1))
model2= SVC()
estimators.append(('SVC',model2))
ensemble = VotingClassifier(estimators)

In [40]:
ensemble.fit(X_train , Y_train.reshape(36808,))

VotingClassifier(estimators=[('logisic', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)), ('Decisio...,
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))],
         flatten_transform=None, n_jobs=1, voting='hard', weights=None)

In [41]:
from sklearn.metrics import accuracy_score
pred5 = ensemble.predict(X_test)
#print(metrics.accuracy_score(Y_test,pred5))
#print(metrics.classification_report(Y_test,pred5))
from sklearn.metrics import classification_report
print(classification_report(Y_test, pred5))

             precision    recall  f1-score   support

       -5.0       0.67      1.00      0.80         4
       -4.0       1.00      0.50      0.67         8
       -3.0       0.80      0.96      0.87        25
       -2.0       0.88      0.88      0.88        67
       -1.0       0.84      0.90      0.87        90
        0.0       0.89      0.88      0.88       170
        1.0       0.83      0.88      0.86       199
        2.0       0.91      0.87      0.89       248
        3.0       0.79      0.92      0.85       315
        4.0       0.90      0.89      0.89       345
        5.0       0.92      0.86      0.89       435
        6.0       0.51      0.90      0.65       487
        7.0       0.81      0.58      0.68       507
        8.0       0.44      0.75      0.56       522
        9.0       0.45      0.44      0.44       494
       10.0       0.37      0.46      0.41       469
       11.0       0.73      0.23      0.35       422
       12.0       0.86      0.44      0.58       391
       13.0       0.85      0.65      0.74       395
       14.0       0.62      0.78      0.69       460
       15.0       0.48      0.66      0.55       434
       16.0       0.86      0.69      0.77       445
       17.0       0.92      0.74      0.82       477
       18.0       0.63      0.79      0.70       493
       19.0       0.83      0.74      0.78       514
       20.0       0.64      0.73      0.68       606
       21.0       0.86      0.52      0.65       584
       22.0       0.73      0.64      0.68       625
       23.0       0.59      0.66      0.62       690
       24.0       0.19      0.85      0.31       623
       25.0       0.59      0.34      0.43       623
       26.0       0.74      0.33      0.46       547
       27.0       0.86      0.30      0.45       520
       28.0       0.89      0.38      0.53       568
       29.0       0.65      0.73      0.68       515
       30.0       0.80      0.18      0.30       365
       31.0       0.90      0.16      0.27       288
       32.0       0.93      0.12      0.21       209
       33.0       0.65      0.13      0.22       163
       34.0       0.56      0.18      0.27       151
       35.0       1.00      0.13      0.24       104
       36.0       0.71      0.07      0.12        74
       37.0       1.00      0.06      0.11        52
       38.0       1.00      0.03      0.06        30
       39.0       0.50      0.21      0.30        14
       40.0       0.00      0.00      0.00         7
       41.0       1.00      0.50      0.67         2

avg / total       0.70      0.59      0.59     15776

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)