In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_digits

In [7]:
digit = load_digits()
x = digit.data
y = digit.target

In [10]:
df = pd.DataFrame(digit.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.3,random_state=7)

In [14]:
X_train.shape, X_test.shape

((1257, 64), (540, 64))

In [19]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [21]:
pred = model.predict(X_test)

In [22]:
from sklearn import model_selection
kfold = model_selection.KFold(n_splits=10,random_state=7)
results  =model_selection.cross_val_score(model,x,y,cv=kfold,scoring='accuracy')
results.sum()/10

0.9738485412787089

In [24]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,pred))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        61
          1       0.92      1.00      0.96        55
          2       1.00      1.00      1.00        53
          3       0.93      0.98      0.95        52
          4       1.00      0.98      0.99        58
          5       0.98      1.00      0.99        48
          6       1.00      0.98      0.99        48
          7       0.96      1.00      0.98        49
          8       1.00      0.92      0.96        62
          9       1.00      0.93      0.96        54

avg / total       0.98      0.98      0.98       540

In [25]:
data = pd.DataFrame({'actual':(Y_test),'pred':pred})
data

     actual  pred
0         6     6
1         0     0
2         5     5
3         9     3
4         2     2
5         9     9
6         0     0
7         4     4
8         1     1
9         0     0
10        1     1
11        8     8
12        2     2
13        5     5
14        2     2
15        8     8
16        1     1
17        8     8
18        9     9
19        1     1
20        0     0
21        2     2
22        0     0
23        4     4
24        5     5
25        3     3
26        3     3
27        0     0
28        0     0
29        4     4
..      ...   ...
510       5     5
511       5     5
512       5     5
513       6     6
514       4     4
515       4     4
516       7     7
517       6     6
518       3     3
519       8     8
520       8     8
521       0     0
522       0     0
523       8     8
524       1     1
525       8     1
526       0     0
527       2     2
528       1     1
529       5     5
530       3     3
531       4     4
532       5     5
533       1     1
534       0     0
535       9     9
536       8     8
537       7     7
538       3     3
539       3     3

[540 rows x 2 columns]

In [27]:
score = model.score(X_test,Y_test)
print(score)

0.9777777777777777