In [51]:
from sklearn import preprocessing
import numpy as np
import pandas as pd
%matplotlib inline

In [52]:
df = pd.read_csv(r"C:\Users\dell\Desktop\NEC\BeijingPM20100101_20151231.csv")
df.head()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0,0.0

In [27]:
df1 = df.dropna()
df1.head()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
27824,27825,2013,3,5,8,1,117.0,166.0,140.0,150.0,-6.0,59.0,1019.0,1.0,cv,0.89,0.0,0.0
27825,27826,2013,3,5,9,1,131.0,165.0,152.0,163.0,-8.0,38.0,1019.0,5.0,cv,1.78,0.0,0.0
27826,27827,2013,3,5,10,1,141.0,173.0,128.0,172.0,-8.0,31.0,1018.0,8.0,cv,2.67,0.0,0.0
27828,27829,2013,3,5,12,1,169.0,182.0,3.0,181.0,-9.0,23.0,1017.0,11.0,cv,4.45,0.0,0.0
27829,27830,2013,3,5,13,1,169.0,169.0,3.0,187.0,-9.0,22.0,1015.0,12.0,cv,5.34,0.0,0.0

In [29]:
dummies_frame = pd.get_dummies(df1)
df2 = df1.reindex(columns = dummies_frame.columns,fill_value =1)
df2.head()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,...,HUMI,PRES,TEMP,Iws,precipitation,Iprec,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
27824,27825,2013,3,5,8,1,117.0,166.0,140.0,150.0,...,59.0,1019.0,1.0,0.89,0.0,0.0,1,1,1,1
27825,27826,2013,3,5,9,1,131.0,165.0,152.0,163.0,...,38.0,1019.0,5.0,1.78,0.0,0.0,1,1,1,1
27826,27827,2013,3,5,10,1,141.0,173.0,128.0,172.0,...,31.0,1018.0,8.0,2.67,0.0,0.0,1,1,1,1
27828,27829,2013,3,5,12,1,169.0,182.0,3.0,181.0,...,23.0,1017.0,11.0,4.45,0.0,0.0,1,1,1,1
27829,27830,2013,3,5,13,1,169.0,169.0,3.0,187.0,...,22.0,1015.0,12.0,5.34,0.0,0.0,1,1,1,1

In [31]:
df2.isnull().sum()

No                 0
year               0
month              0
day                0
hour               0
season             0
PM_Dongsi          0
PM_Dongsihuan      0
PM_Nongzhanguan    0
PM_US Post         0
DEWP               0
HUMI               0
PRES               0
TEMP               0
Iws                0
precipitation      0
Iprec              0
cbwd_NE            0
cbwd_NW            0
cbwd_SE            0
cbwd_cv            0
dtype: int64

In [32]:
df3 = df2.drop(['year','No','TEMP'],axis = 1)
df3.head()

,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,Iws,precipitation,Iprec,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
27824,3,5,8,1,117.0,166.0,140.0,150.0,-6.0,59.0,1019.0,0.89,0.0,0.0,1,1,1,1
27825,3,5,9,1,131.0,165.0,152.0,163.0,-8.0,38.0,1019.0,1.78,0.0,0.0,1,1,1,1
27826,3,5,10,1,141.0,173.0,128.0,172.0,-8.0,31.0,1018.0,2.67,0.0,0.0,1,1,1,1
27828,3,5,12,1,169.0,182.0,3.0,181.0,-9.0,23.0,1017.0,4.45,0.0,0.0,1,1,1,1
27829,3,5,13,1,169.0,169.0,3.0,187.0,-9.0,22.0,1015.0,5.34,0.0,0.0,1,1,1,1

In [39]:
df2_n =df2.select_dtypes(include = [np.number])
df3_n = df3.select_dtypes(include = [np.number])

In [40]:
x = np.array(df3_n.loc[:,:])
y = np.array(df2_n.loc[:,'TEMP'])
x.shape,y.shape

((19062, 18), (19062,))

In [43]:
from sklearn.model_selection import train_test_split
from sklearn import datasets,linear_model

In [44]:
X_test,X_train,Y_test,Y_train = train_test_split(x,y,test_size = 0.30,random_state = 7)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape )

(5719, 18) (5719,)
(13343, 18) (13343,)

In [45]:
from sklearn.linear_model import LogisticRegression
LogisticRegr = LogisticRegression()
LogisticRegr.fit(X_train , Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [46]:
prediction = LogisticRegr.predict(X_test)

In [50]:
a = pd.DataFrame({"actual":list(Y_test), "prediction":list(prediction)})
a

       actual  prediction
0         4.0        11.0
1        24.0        23.0
2         1.0         2.0
3         9.0        10.0
4        19.0        23.0
5        -6.0         2.0
6        25.0        23.0
7        29.0        29.0
8         5.0         1.0
9        11.0        13.0
10       32.0        28.0
11       10.0         8.0
12       34.0        31.0
13       32.0        27.0
14       -1.0        10.0
15       22.0        22.0
16       17.0        20.0
17       18.0        10.0
18       11.0        23.0
19       24.0        22.0
20       -5.0         2.0
21       33.0        33.0
22       -2.0         2.0
23       -4.0         7.0
24       -7.0        -6.0
25       19.0        23.0
26        4.0        -1.0
27        7.0        13.0
28       -3.0         0.0
29       15.0        22.0
...       ...         ...
13313    31.0        32.0
13314   -10.0        -7.0
13315    23.0        24.0
13316    32.0        27.0
13317    13.0        17.0
13318     8.0         8.0
13319    23.0        14.0
13320    -3.0         0.0
13321    14.0        14.0
13322    17.0        20.0
13323    -3.0         7.0
13324    12.0        15.0
13325    12.0        20.0
13326    24.0        26.0
13327    22.0        28.0
13328    25.0        25.0
13329    23.0        24.0
13330    11.0         8.0
13331     2.0         0.0
13332    32.0        31.0
13333    11.0        22.0
13334    -9.0         6.0
13335     9.0        13.0
13336    23.0        24.0
13337    12.0        14.0
13338    -6.0        -6.0
13339    14.0        10.0
13340    11.0         1.0
13341    27.0        25.0
13342    25.0        14.0

[13343 rows x 2 columns]