In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\dell\Desktop\NEC\ShenyangPM20100101_20151231.csv")
df.head()

,No,year,month,day,hour,season,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-26.0,69.79,1024.0,-22.0,NE,1.0289,NaN,NaN
1,2,2010,1,1,1,4,NaN,NaN,NaN,-26.0,76.26,1024.0,-23.0,NE,2.5722,NaN,NaN
2,3,2010,1,1,2,4,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,5.1444,NaN,NaN
3,4,2010,1,1,3,4,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,7.7166,NaN,NaN
4,5,2010,1,1,4,4,NaN,NaN,NaN,-27.0,69.56,1022.0,-23.0,NE,9.7744,NaN,NaN

In [3]:
df1=df.drop(columns=['No','year','month','day','hour','season'], axis = 1)
df1.head()

,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,NaN,NaN,NaN,-26.0,69.79,1024.0,-22.0,NE,1.0289,NaN,NaN
1,NaN,NaN,NaN,-26.0,76.26,1024.0,-23.0,NE,2.5722,NaN,NaN
2,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,5.1444,NaN,NaN
3,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,7.7166,NaN,NaN
4,NaN,NaN,NaN,-27.0,69.56,1022.0,-23.0,NE,9.7744,NaN,NaN

In [4]:
df2 = df1.fillna(df1.median())
df2.head()

,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,59.0,57.0,51.0,-26.0,69.79,1024.0,-22.0,NE,1.0289,0.0,0.0
1,59.0,57.0,51.0,-26.0,76.26,1024.0,-23.0,NE,2.5722,0.0,0.0
2,59.0,57.0,51.0,-27.0,69.56,1023.0,-23.0,NE,5.1444,0.0,0.0
3,59.0,57.0,51.0,-27.0,69.56,1023.0,-23.0,NE,7.7166,0.0,0.0
4,59.0,57.0,51.0,-27.0,69.56,1022.0,-23.0,NE,9.7744,0.0,0.0

In [5]:
dummies_frame = pd.get_dummies(df2)
df3= df2.reindex(columns = dummies_frame.columns, fill_value=1)
df3.head()

,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_SW,cbwd_cv
0,59.0,57.0,51.0,-26.0,69.79,1024.0,-22.0,1.0289,0.0,0.0,1,1,1,1,1
1,59.0,57.0,51.0,-26.0,76.26,1024.0,-23.0,2.5722,0.0,0.0,1,1,1,1,1
2,59.0,57.0,51.0,-27.0,69.56,1023.0,-23.0,5.1444,0.0,0.0,1,1,1,1,1
3,59.0,57.0,51.0,-27.0,69.56,1023.0,-23.0,7.7166,0.0,0.0,1,1,1,1,1
4,59.0,57.0,51.0,-27.0,69.56,1022.0,-23.0,9.7744,0.0,0.0,1,1,1,1,1

In [6]:
df4=df3.dropna().isnull().sum()
df4.head()

PM_Taiyuanjie    0
PM_US Post       0
PM_Xiaoheyan     0
DEWP             0
HUMI             0
dtype: int64

In [7]:
df5 = df3.drop(['TEMP'], axis = 1)
df5.head()

,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,Iws,precipitation,Iprec,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_SW,cbwd_cv
0,59.0,57.0,51.0,-26.0,69.79,1024.0,1.0289,0.0,0.0,1,1,1,1,1
1,59.0,57.0,51.0,-26.0,76.26,1024.0,2.5722,0.0,0.0,1,1,1,1,1
2,59.0,57.0,51.0,-27.0,69.56,1023.0,5.1444,0.0,0.0,1,1,1,1,1
3,59.0,57.0,51.0,-27.0,69.56,1023.0,7.7166,0.0,0.0,1,1,1,1,1
4,59.0,57.0,51.0,-27.0,69.56,1022.0,9.7744,0.0,0.0,1,1,1,1,1

In [8]:
df6= df3.select_dtypes(include = [np.number])
df7=df5.select_dtypes(include=[np.number])

In [9]:
x= np.array(df5.loc[:,:])
y = np.array(df3.loc[:,['TEMP']])
x.shape
y.shape

(52584, 1)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.25,random_state = 7)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(39438, 14) (39438, 1)
(13146, 14) (13146, 1)

# Bagging Decision Tree

In [12]:
from sklearn import model_selection
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier()
model.fit(X_train, Y_train.reshape(39438,))

BaggingClassifier(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [13]:
pred = model.predict(X_test)

In [14]:
score =  model.score(X_test,Y_test)
print(score)

0.9923931233835387

# Random Forest Classification

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.3,random_state=7)
X_train.shape, X_test.shape

((36808, 14), (15776, 14))

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [17]:
model1 = RandomForestClassifier()
model1.fit(X_train , Y_train.reshape(36808,))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [18]:
pred = model1.predict(X_test)

In [19]:
score = model1.score(X_test,Y_test)
score

0.5927991886409736

# Gradient Boosting Classification

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.3,random_state=7)
X_train.shape, X_test.shape

((36808, 14), (15776, 14))

In [21]:
from sklearn.ensemble import GradientBoostingClassifier
model2 = GradientBoostingClassifier(n_estimators=100)

In [22]:
model2 = GradientBoostingClassifier()
model2.fit(X_train , Y_train.reshape(36808,))

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [23]:
pred = model2.predict(X_test)

In [24]:
score = model2.score(X_test,Y_test)
score

0.9864350912778904

# Voting Classifier

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score

In [26]:
estimators = []
model= LogisticRegression()
estimators.append(('logisic',model))
model1= DecisionTreeClassifier()
estimators.append(('DecisionTreeClassifier',model1))
model2= SVC()
estimators.append(('SVC',model2))
ensemble = VotingClassifier(estimators)

In [27]:
ensemble.fit(X_train , Y_train.reshape(36808,))

VotingClassifier(estimators=[('logisic', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)), ('Decisio...,
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))],
         flatten_transform=None, n_jobs=1, voting='hard', weights=None)

In [28]:
from sklearn.metrics import accuracy_score
pred5 = ensemble.predict(X_test)
#print(metrics.accuracy_score(Y_test,pred5))
#print(metrics.classification_report(Y_test,pred5))
from sklearn.metrics import classification_report
print(classification_report(Y_test, pred5))

             precision    recall  f1-score   support

      -28.0       0.75      1.00      0.86         3
      -27.0       0.83      1.00      0.91         5
      -26.0       1.00      0.80      0.89         5
      -25.0       1.00      1.00      1.00        14
      -24.0       0.94      1.00      0.97        29
      -23.0       0.88      1.00      0.94        38
      -22.0       0.82      0.79      0.80        47
      -21.0       0.82      0.87      0.85        63
      -20.0       0.91      0.91      0.91        88
      -19.0       0.83      0.89      0.86        88
      -18.0       0.85      0.86      0.86       109
      -17.0       0.82      0.90      0.86       135
      -16.0       0.82      0.83      0.83       130
      -15.0       0.89      0.85      0.87       160
      -14.0       0.89      0.88      0.89       158
      -13.0       0.85      0.90      0.87       202
      -12.0       0.86      0.86      0.86       206
      -11.0       0.82      0.89      0.86       238
      -10.0       0.83      0.82      0.82       248
       -9.0       0.94      0.81      0.87       254
       -8.0       0.66      0.92      0.77       260
       -7.0       0.89      0.77      0.82       261
       -6.0       0.59      0.86      0.70       266
       -5.0       0.81      0.72      0.76       276
       -4.0       0.84      0.74      0.79       318
       -3.0       0.86      0.78      0.81       323
       -2.0       0.84      0.83      0.84       294
       -1.0       0.78      0.84      0.81       368
        0.0       0.54      0.84      0.66       381
        1.0       0.74      0.64      0.68       353
        2.0       0.76      0.68      0.72       307
        3.0       0.79      0.68      0.74       292
        4.0       0.65      0.66      0.65       311
        5.0       0.80      0.72      0.76       281
        6.0       0.86      0.77      0.81       279
        7.0       0.86      0.76      0.81       273
        8.0       0.86      0.75      0.80       273
        9.0       0.93      0.70      0.80       269
       10.0       0.28      0.97      0.44       496
       11.0       0.62      0.32      0.43       310
       12.0       0.88      0.40      0.55       271
       13.0       0.87      0.47      0.61       284
       14.0       0.82      0.54      0.66       290
       15.0       0.93      0.52      0.67       346
       16.0       0.86      0.64      0.73       337
       17.0       0.87      0.61      0.72       372
       18.0       0.58      0.71      0.64       430
       19.0       0.74      0.55      0.64       438
       20.0       0.70      0.59      0.64       505
       21.0       0.70      0.56      0.62       503
       22.0       0.28      0.85      0.42       548
       23.0       0.59      0.57      0.58       543
       24.0       0.78      0.44      0.57       477
       25.0       0.54      0.37      0.44       412
       26.0       0.89      0.27      0.42       347
       27.0       0.83      0.24      0.37       334
       28.0       0.73      0.60      0.66       284
       29.0       0.77      0.39      0.52       264
       30.0       0.87      0.48      0.62       216
       31.0       0.80      0.04      0.07       102
       32.0       0.00      0.00      0.00        41
       33.0       0.00      0.00      0.00        17
       34.0       0.00      0.00      0.00         4

avg / total       0.74      0.66      0.67     15776

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)